flex-box($direction = row, $justify = flex-start, $align = stretch)
	// $align only supports stretch and center
	// $direction only supports row and column
	display: -webkit-box
	display: -webkit-flex
	display: flex
	-webkit-justify-content: $justify
	justify-content: $justify
	-webkit-flex-direction: $direction
	flex-direction: $direction
	-webkit-align-items: $align
	align-items: $align

font-roboto()
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: normal

btn()
	border-radius: 25px
	width 80vw
	height 11.7vw
	padding: 2vw
	font-size: 4.2vw
	border: solid 1px #7884a5
	outline none

.hidden
	display: none



/*** Colors ***/
$deep-sky-blue = #047cfc
$blue-grey = #7884a5
