@require "../common.styl"

.page.final
		flex-box(column)
		width: 100%
		height: 100%
		background-image linear-gradient(0deg, #08c6f1, #0262ff)

		.header
			border: none
			border-bottom: solid 1px #d7dce9
			flex-box(column)

		.caption
			roboto()
			color: white
			margin: 1% auto

		.pencil
			width: 24vw;
			margin: 50% auto 10%;

		.doneBtn
			btn()
			margin: 0 auto
			width: 55vw
			color: $deep-sky-blue
			background: white

