@require "../common.styl"

.page.question.multichoice
	width: 100%
	font-roboto()
	.header
		width: 86%
		margin: 10% auto 0
		.header-controls
			flex-box()
			justify-content: space-between
			align-items: center
			font-size: 6.2vw
		.title
			display: inline-block
			width: 72vw
			margin: 0.1rem auto 8%
		button.back-nav
			-webkit-appearance: none
			border: none
			background: none
			padding: 0
			img
				width: 2rem

		.description
			margin: 3vh auto
			font-size: .9rem
			.description-price
				display: -webkit-inline-flex
				display: -moz-inline-flex
				display: -ms-inline-flex
				display: -o-inline-flex
				display: inline-flex
				align-items: center
				vertical-align: middle
				color: $kin-purple
				line-height: 90%

				img
					width: 7px
					margin-right: 3px
				.full-width-plus
					font-size: .8rem
					font-weight bold
	.choices
		margin: 6% auto 0
		flex-box(column)
	.choice
		position relative
		btn()
		margin: 4% auto
		background: inherit
		color: currentColor
		outline none
		font-size:.9rem
		&.rightAnswer
			btn-active()
		&.wrongAnswer
			border solid 3px $watermelon
	&:not(.highlightRightWrong)
		.choices
			.choice
				&.selected
					btn-active()
