@require "../common.styl"

.page.question.multichoice
	width: 100%
	font-roboto()
	.header
		width: 86%
		margin: 10% auto 0
		.header-controls
			flex-box()
			justify-content: space-between
			align-items: flex-start
			font-size: 6.2vw
		.title
			width: 72vw
			margin: 0 auto 8%
		button.back-nav
			-webkit-appearance: none
			border: none
			background: none
			padding: 0
			img
				width: 2rem

		.description
			margin: 3vh auto
			font-size: 4.2vw
			.description-price
				display: -webkit-inline-flex
				display: -moz-inline-flex
				display: -ms-inline-flex
				display: -o-inline-flex
				display: inline-flex
				align-items: center
				vertical-align: middle
				color: $kin-purple

				img
					width: 6px
					margin: 0 3px

	.choices
		margin: 6% auto 0
		flex-box(column)
	.choice
		position relative
		btn()
		margin: 5% auto
		background: inherit
		color: currentColor
		outline none
		&.rightAnswer
			btn-active()
		&.wrongAnswer
			border solid 3px $watermelon
	&:not(.highlightRightWrong)
		.choices
			.choice
				&.selected
					btn-active()
